<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714941442409-5i36vva5al69jrvn9dmtu73oein44gin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714941442409-5i36vva5al69jrvn9dmtu73oein44gin</string>
	<key>API_KEY</key>
	<string>AIzaSyCHlNyCXGOpafLYcvFnJzDiqOdw6yhW2WY</string>
	<key>GCM_SENDER_ID</key>
	<string>714941442409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AntonioVega.Yeeter</string>
	<key>PROJECT_ID</key>
	<string>yeeter-5b7f2</string>
	<key>STORAGE_BUCKET</key>
	<string>yeeter-5b7f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714941442409:ios:04fb017505ea4a0ad0b5f8</string>
	<key>DATABASE_URL</key>
	<string>https://yeeter-5b7f2.firebaseio.com</string>
</dict>
</plist>